@model TourApplication.ViewModels.HotelDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HotelDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" alt="Alternate Text" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amenities)
        </dd>
    </dl>
</div>
<div class="text-center">
    @if (User.IsInRole(TourApplication.Common.Helper.ContentCreator) || User.IsInRole(TourApplication.Common.Helper.Admin))
    {
        <div class="btn-group">
            <button class="btn btn-warning"> <a href="/Hotel/Edit/@Model.Id" class="text-dark">Edit</a> </button>
            <button class="btn btn-primary"> <a asp-action="ManageOverview" class="text-white">Back to List</a> </button>
            <button class="btn btn-success"> <a href="/Booking/BookHotel/@Model.Id" class="text-white">Book</a> </button>
            <button class="btn btn-info"> <a asp-action="Overview" class="text-white">To Overview</a> </button>
        </div>

    }
    else
    {
        
        <div class="btn-group">
            <button class="btn btn-success"> <a href="/Booking/BookHotel/@Model.Id" class="text-white">Book</a> </button>
            <button class="btn btn-primary"> <a asp-action="Overview" class="text-white">Back to Overview</a> </button>
        </div>
    }

</div>
