@model TourApplication.ViewModels.ConfirmBookingViewModel

@{
    ViewData["Title"] = "BookingStatusView";
}

<h1>BookingStatusView</h1>

<div>
    <h4>ConfirmBookingViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Overview" asp-controller="Hotel">Back to Overview</a>
</div>
