@model IEnumerable<TourApplication.ViewModels.BookingManageModel>

@{
    ViewData["Title"] = "ManageOverview";
}

<h1>ManageOverview</h1>

<div>
    <button class="btn btn-primary"> <a asp-controller="Booking" asp-action="ManageOverview" asp-route-pending="pending" class="text-white">Show Pending</a> </button>
    <button class="btn btn-secondary"> <a asp-controller="Booking" asp-action="ManageOverview" asp-route-processed="processed" class="text-white">Show Processed</a> </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Change Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <button class="btn btn-warning"> <a asp-controller="Booking" asp-action="ChangeStatus" asp-route-id="@item.Id" asp-route-status="@item.BookStatus" class="text-white">Change status</a> </button>
            </td>
           
        </tr>
}
    </tbody>
</table>
