@model IEnumerable<TourApplication.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "ManageOverview";
}

<h1>ManageOverview</h1>

<p>
    <a asp-action="Register" asp-controller="Account">Create Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
               
                <a href="/Employee/Edit/@item.Id" class="text-success">Edit</a>
                 |
                <a href="/Employee/Delete/@item.Id" class="text-danger" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
